- mysql veri tabanında odev isminde bir kullanıcı tanımlayınız.
- odev kullanıcısına sakila şeması için SELECT yetkisi veriniz.
- sakila şemasında yer alan customer tablosundan first_name ve last_name alanlarını sorgulayınız.

In [ ]:
CREATE USER 'odev'@'localhost' IDENTIFIED WITH mysql_native_password BY 'test123';
GRANT SELECT ON sakila.* TO 'odev'@'localhost';

In [ ]:
from sqlalchemy import create_engine
engine = create_engine('mysql+mysqlconnector://odev:test123@localhost/sakila')
connection = engine.connect()
result = connection.execute("select first_name,last_name from customer limit 20")
for row in result:
    print(row['first_name'], row['last_name'])
    
connection.close()

In [ ]:
#alternatif
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('mysql+mysqlconnector://odev:test123@localhost/sakila')
connection = engine.connect()
df = pd.read_sql_query('select first_name,last_name from customer',con=connection)

engine.dispose()

df.head()