# __YÃœKSEK DAYANIMLI BETON__

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings('ignore')
pd.set_option("display.float_format", "{:.3f}".format)
sns.set()

In [2]:
cc = pd.read_csv('concrete_clean.csv')

In [3]:
cc.head(3)

,Cement,Slag,FlyAsh,Water,SPs,CoarseAgg,FineAgg,WC,Day,Strength
0,540.000,0.000,0.000,162.000,2.500,1040.000,676.000,0.300,28,79.986
1,540.000,0.000,0.000,162.000,2.500,1055.000,676.000,0.300,28,61.887
2,332.500,142.500,0.000,228.000,0.000,932.000,594.000,0.686,90,40.270

In [4]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV, KFold
from sklearn.metrics import mean_squared_error as MSE
from sklearn.svm import SVR, SVC

In [5]:
Y = cc['Strength']
X = cc.drop(['Strength'], axis=1)

In [6]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 42)

standardscaler = StandardScaler()
x_train = standardscaler.fit_transform(x_train)
x_test = standardscaler.transform(x_test)

In [10]:
kernel_list = ['linear', 'rbf', 'poly']
for i, k in enumerate(kernel_list):
    svr = SVR(kernel = k, C = 1)
    svr.fit(x_train, y_train) 
    y_pred = svr.predict(x_test)
    print(k, '>', svr.score(x_test, y_test))

linear > 0.7221317223984418
rbf > 0.6787094232758271
poly > 0.5849675377457122

In [11]:
c_list = [0.1, 1, 10, 100, 1000, 10000]
for i, c in enumerate(c_list):
    svr = SVR(kernel = 'linear', C = c)
    svr.fit(x_train, y_train) 
    y_pred = svr.predict(x_test)
    print(c, '>', svr.score(x_test, y_test))

0.1 > 0.6978883391405369
1 > 0.7221317223984418
10 > 0.7251617620958137
100 > 0.724371056678156
1000 > 0.7246300991854326
10000 > 0.7248232390364288

In [12]:
gamma_list = [0.1, 1, 10, 100]
for i, g in enumerate(gamma_list):
    svr = SVR(kernel = 'linear', C = 10, gamma = g)
    svr.fit(x_train, y_train) 
    y_pred = svr.predict(x_test)
    print(g, '>', svr.score(x_test, y_test))

0.1 > 0.7251617620958137
1 > 0.7251617620958137
10 > 0.7251617620958137
100 > 0.7251617620958137

In [15]:
degree_list = [1, 2, 3, 4, 5, 6]
for i, d in enumerate(degree_list):
    svr = SVR(kernel = 'linear', C = 10, degree = d)
    svr.fit(x_train, y_train) 
    y_pred = svr.predict(x_test)
    print(d, '>', svr.score(x_test, y_test))

1 > 0.7251617620958137
2 > 0.7251617620958137
3 > 0.7251617620958137
4 > 0.7251617620958137
5 > 0.7251617620958137
6 > 0.7251617620958137

### Cross Score

In [7]:
k_fold = KFold(n_splits = 5, shuffle = True, random_state = 42)
cross_val_score(estimator = SVR(kernel = 'linear', C = 10), X = X, y = Y, cv = k_fold).mean()

0.6125439458516422

# __BANKA KAMPANYASI__

In [5]:
bk = pd.read_csv('bank_clean.csv')

In [6]:
bk.head(3)

,age,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,job_blue-collar,...,month_sep,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_failure,poutcome_nonexistent,poutcome_success,y_yes
0,4,1,0,0,1.100,94.000,-36.000,5.000,5191.000,0,...,0,0,1,0,0,0,0,1,0,0
1,4,1,0,0,1.100,94.000,-36.000,5.000,5191.000,0,...,0,0,1,0,0,0,0,1,0,0
2,2,1,0,0,1.100,94.000,-36.000,5.000,5191.000,0,...,0,0,1,0,0,0,0,1,0,0

In [7]:
Y = bk['y_yes']
X = bk.drop(['y_yes'], axis=1)

In [8]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 42)

standardscaler = StandardScaler()
x_train = standardscaler.fit_transform(x_train)
x_test = standardscaler.transform(x_test)

In [8]:
kernel_list = ['linear', 'rbf', 'poly']
for i, k in enumerate(kernel_list):
    svc = SVC(kernel = k, C = 1)
    svc.fit(x_train, y_train) 
    y_pred = svc.predict(x_test)
    print(k, '>', svc.score(x_test, y_test))

linear > 0.8998990154001515
rbf > 0.9046957838929564
poly > 0.9009088613986367

In [ ]:
c_list = [0.1, 1, 10]
for i, c in enumerate(c_list):
    svc = SVC(kernel = 'rbf', C = c)
    svc.fit(x_train, y_train) 
    y_pred = svc.predict(x_test)
    print(c, '>', svc.score(x_test, y_test))

0.1 > 0.9004039383993941
1 > 0.9046957838929564
10 > 0.8973744004039385

### Cross Score

In [9]:
k_fold = KFold(n_splits = 5, shuffle = True, random_state = 42)
crossScore = cross_val_score(estimator = SVC(kernel = 'rbf', C = 1), X = X, y = Y, cv = k_fold)
crossScore.mean()

0.8887344992033646

### KarÅŸÄ±laÅŸtÄ±rmalar

In [10]:
from imblearn.over_sampling import SMOTE, ADASYN
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score

In [13]:
def modelFrame(X, Y, idx):
    x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 42)
    
    standardscaler = StandardScaler()
    x_train = standardscaler.fit_transform(x_train)
    x_test = standardscaler.transform(x_test)
    
    k_fold = KFold(n_splits = 5, shuffle = True, random_state = 42)
    svc = SVC(kernel = 'rbf', C = 1)
    model = svc.fit(x_train, y_train)

    y_pred = model.predict(x_test)

    df = pd.Series({'accuracy': accuracy_score(y_test,y_pred),
                    'precision' :precision_score(y_test,y_pred),
                    'recall': recall_score(y_test,y_pred),
                    'f1-score': f1_score(y_test,y_pred)}, name = idx)
    return df

In [14]:
dfModel = pd.DataFrame(columns = ['accuracy', 'precision', 'recall', 'f1-score', 'auc-roc'])

Y = bk['y_yes']
X = bk.drop(['y_yes'], axis=1)
dfModel = dfModel.append(modelFrame(X, Y, 'svm'))

x_smote, y_smote = SMOTE(random_state = 42).fit_sample(X, Y)
dfModel = dfModel.append(modelFrame(x_smote, y_smote, 'smote'))

dfModel

       accuracy  precision  recall  f1-score  auc-roc
svm       0.905      0.669   0.238     0.351      nan
smote     0.876      0.930   0.813     0.868      nan